<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.riyan.pposyandu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/posyandu"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/posyandu"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ColumnChartActivityTinggi"></activity>
        <activity android:name=".ColumnChartActivity" />
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".crete.CreateDataPeriksa" />
        <activity android:name=".view.DataPeriksaActivity" />
        <activity android:name=".crete.CreateActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
    </application>

</manifest>